<form action="/passwordchecker" method="get">
  <input type="text" placeholder="Enter username" value="<%=@valid_username%>" name="username"/>
  <br/>
  <input type="text" placeholder="Enter password" value="<%=@valid_password%>" name="password"/>
  <br/>
  <input type="submit"/>
</form>
